.buttonWrapper {
  display: inline-block;
  padding: 4px 0;
}

.button {
  background: transparent;
  color: #aaa;
  font-size: 18px;
  border: 0;
  padding: 0;
  vertical-align: bottom;
  height: 24px;
  width: 24px;
  border-radius: 4px;
}

.button svg {
  fill: #aaa;
  height: 24px;
  width: 24px;
}

.button:hover, .button:focus {
  cursor: pointer;
}

.active {
  color: #1F1F1F;
}

.active svg {
  fill: #1F1F1F;
}